<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Anytown Mapper</title>
    <link rel="stylesheet" href="{{ stylesheet_href }}" />
  </head>
  <body>
    <h1>Anytown Mapper</h1>

    <form id="mapGeneratorForm">
      <input id="citySelectorField" placeholder="Enter a city" onFocus="geolocate()" type="text" />
      <input id="locality" type="hidden" name="city" />
      <input id="administrative_area_level_1" type="hidden" name="region" />
      <input id="country" type="hidden" name="country_name" />
      <input id="country_code" type="hidden" name="country_code" />
      <input type="submit"></button>
      <p id="locationIndicator"></p>
    </form>

    <div id="generatedImage"></div>

    <script src="{{ script_src }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initAutocomplete" async defer></script>
  </body>
</html>
