<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'facebook_sdk.html' %}

    {% include 'header.html' %}

    <div class="container">
      <h1>{{ user_profile['name'] }}</h1>
      <p>Email: {{ user_profile['email'] }}</p>
      <div id="locationHistoryMap"></div>
    </div>

    <script src="{{ script_src }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>
    {% include 'javascripts.html' %}
  </body>
</html>
